# Pandas

In [28]:
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
dataSet={ 'student':['Kevin','lalo','Vatsal'],
        'admission':[2023,2022,2021]}

demo = pd.DataFrame(dataSet)
print(demo)

  student  admission
0   Kevin       2023
1    lalo       2022
2  Vatsal       2021

In [30]:
print(pd.__version__)#this shows the version of pandas

2.2.3

In [31]:
a= [30,40,60,70]
demo1=pd.Series(a)#Series is like a column value in a table
                #It is a one-dimensional array holding data of any type.
                #0,1,2,3 is define index auto genrate
print(demo1)

0    30
1    40
2    60
3    70
dtype: int64

In [32]:
demo2 = pd.Series(a,index=["x1","x2","x3","x4"])
print(demo2)

x1    30
x2    40
x3    60
x4    70
dtype: int64

In [33]:
StudMarks={"abc":440,"def":220,"ssd":300}
demo2=pd.Series(StudMarks)
print(demo2)
print(demo1)

abc    440
def    220
ssd    300
dtype: int64
0    30
1    40
2    60
3    70
dtype: int64

In [34]:
print(pd.options.display.max_rows)

100

In [35]:
pd.options.display.max_rows=100
stud_marks=pd.read_csv('DemoData1.csv')
print(stud_marks)

   SrNo     Name  Total Marks  Obtained Marks  Percentage  Grade
0     1    Kevin        500.0           400.0         NaN    NaN
1     2     cscs        500.0           450.0         NaN    NaN
2     3   Vatsal        500.0           350.0         NaN    NaN
3     4     gwgw        500.0           320.0         NaN    NaN
4     5  Rutansh        500.0           220.0         NaN    NaN
5     6     feff        500.0           120.0         NaN    NaN
6     7     sccw          NaN             NaN         NaN    NaN

In [36]:
data={"product":["chocolate","puff","wafers"],
      "price":[50,20,10]}
dataFr=pd.DataFrame(data)

print(dataFr)

     product  price
0  chocolate     50
1       puff     20
2     wafers     10

In [37]:
print(dataFr.loc[2])# to fetch the single row for Df

product    wafers
price          10
Name: 2, dtype: object

In [38]:
print(stud_marks.head())

   SrNo     Name  Total Marks  Obtained Marks  Percentage  Grade
0     1    Kevin        500.0           400.0         NaN    NaN
1     2     cscs        500.0           450.0         NaN    NaN
2     3   Vatsal        500.0           350.0         NaN    NaN
3     4     gwgw        500.0           320.0         NaN    NaN
4     5  Rutansh        500.0           220.0         NaN    NaN

In [39]:
print(stud_marks.tail())

   SrNo     Name  Total Marks  Obtained Marks  Percentage  Grade
2     3   Vatsal        500.0           350.0         NaN    NaN
3     4     gwgw        500.0           320.0         NaN    NaN
4     5  Rutansh        500.0           220.0         NaN    NaN
5     6     feff        500.0           120.0         NaN    NaN
6     7     sccw          NaN             NaN         NaN    NaN

In [40]:
print(stud_marks.loc[3])

SrNo                  4
Name               gwgw
Total Marks       500.0
Obtained Marks    320.0
Percentage          NaN
Grade               NaN
Name: 3, dtype: object

In [41]:
print(stud_marks.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SrNo            7 non-null      int64
 1   Name            7 non-null      object
 2   Total Marks     6 non-null      float64
 3   Obtained Marks  6 non-null      float64
 4   Percentage      0 non-null      float64
 5   Grade           0 non-null      float64
dtypes: float64(4), int64(1), object(1)
memory usage: 468.0+ bytes
None

In [42]:
new_stud=stud_marks.dropna()
print(new_stud)

Empty DataFrame
Columns: [SrNo, Name, Total Marks, Obtained Marks, Percentage, Grade]
Index: []

In [43]:
print(stud_marks.fillna(150))

   SrNo     Name  Total Marks  Obtained Marks  Percentage  Grade
0     1    Kevin        500.0           400.0       150.0  150.0
1     2     cscs        500.0           450.0       150.0  150.0
2     3   Vatsal        500.0           350.0       150.0  150.0
3     4     gwgw        500.0           320.0       150.0  150.0
4     5  Rutansh        500.0           220.0       150.0  150.0
5     6     feff        500.0           120.0       150.0  150.0
6     7     sccw        150.0           150.0       150.0  150.0

In [61]:
print(stud_marks["Total Marks"].fillna(555))

0    500.0
1    500.0
2    500.0
3    500.0
4    500.0
5    500.0
6    700.0
Name: Total Marks, dtype: float64

In [62]:
stud_marks["Total Marks"].fillna(700,inplace=True)
print(stud_marks)

   SrNo     Name  Total Marks  Obtained Marks  Percentage  Grade  percentage
0     1    Kevin        500.0           400.0         NaN    NaN        80.0
1     2     cscs        500.0           450.0         NaN    NaN        90.0
2     3   Vatsal        500.0           350.0         NaN    NaN        70.0
3     4     gwgw        500.0           320.0         NaN    NaN        64.0
4     5  Rutansh        500.0           220.0         NaN    NaN        44.0
5     6     feff        500.0           120.0         NaN    NaN        24.0
6     7     sccw        700.0             NaN         NaN    NaN         NaN

C:\Users\HP\AppData\Local\Temp\ipykernel_15216\118054427.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stud_marks["Total Marks"].fillna(700,inplace=True)

In [56]:
mean=stud_marks["Obtained Marks"].mean()
print(mean)

median=stud_marks["Obtained Marks"].median()
print(f"median:{median}")

mode=stud_marks["Obtained Marks"].mode()
print(f"mode:{mode}")

310.0
median:335.0
mode:0    120.0
1    220.0
2    320.0
3    350.0
4    400.0
5    450.0
Name: Obtained Marks, dtype: float64

In [57]:
stud_marks.columns

Index(['SrNo', 'Name', 'Total Marks', 'Obtained Marks', 'Percentage', 'Grade'], dtype='object')

In [58]:
print(stud_marks.loc[0:4])

   SrNo     Name  Total Marks  Obtained Marks  Percentage  Grade
0     1    Kevin        500.0           400.0         NaN    NaN
1     2     cscs        500.0           450.0         NaN    NaN
2     3   Vatsal        500.0           350.0         NaN    NaN
3     4     gwgw        500.0           320.0         NaN    NaN
4     5  Rutansh        500.0           220.0         NaN    NaN

In [59]:
stud_marks.sort_values(['Obtained Marks'],ascending=0)

   SrNo     Name  Total Marks  Obtained Marks  Percentage  Grade
1     2     cscs        500.0           450.0         NaN    NaN
0     1    Kevin        500.0           400.0         NaN    NaN
2     3   Vatsal        500.0           350.0         NaN    NaN
3     4     gwgw        500.0           320.0         NaN    NaN
4     5  Rutansh        500.0           220.0         NaN    NaN
5     6     feff        500.0           120.0         NaN    NaN
6     7     sccw        700.0             NaN         NaN    NaN

In [60]:
stud_marks['percentage']=(stud_marks['Obtained Marks']/stud_marks['Total Marks'])*100
stud_marks.head(5)

   SrNo     Name  Total Marks  Obtained Marks  Percentage  Grade  percentage
0     1    Kevin        500.0           400.0         NaN    NaN        80.0
1     2     cscs        500.0           450.0         NaN    NaN        90.0
2     3   Vatsal        500.0           350.0         NaN    NaN        70.0
3     4     gwgw        500.0           320.0         NaN    NaN        64.0
4     5  Rutansh        500.0           220.0         NaN    NaN        44.0